/* Subreddit */

.subRedditHeader {
	margin: 0 auto;
	text-align: center;
	margin: 1rem auto;
	background-color: var(--background);
	color: var(--titleColor);
	caret-color: transparent;
	/* width: fit-content; */
	/* background: none; */
	position: sticky;
	top: 3.7rem;
	z-index: 100;
	transition-delay: 1000ms;
	transition: opacity 500ms linear;
}
.filters {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 0.5rem;
	transition: opacity 500ms;
}
.filterChoice {
	padding: 0.3rem 0.5rem;
	padding-left: 2rem;
	margin: 0 0.2rem;
	width: fit-content;
	background-color: var(--postBackground);
	color: white;
	border-radius: 15px;
	caret-color: transparent;
	background-size: 15px 20px;
	background-repeat: no-repeat;
	background-position: 20%;
	transition: background-color 300ms;
}
.filterChoice.info {
	padding: 0.3rem 0.5rem;
	background-color: rgb(76, 44, 192);
}
.filterChoice.info:hover {
	background-color: rgb(108, 86, 189);
}
.hot {
	background-image: url("../../assets/hot.png");
}
.new {
	background-image: url("../../assets/new.png");
	background-size: 25px;
	background-position: 11%;
}
.top {
	background-image: url("../../assets/top.png");
	background-size: 15px;
	background-position: 22%;
}
.rising {
	background-image: url("../../assets/rising.png");
	background-size: 20px;
	background-position: 12%;
}
.filterChoice::selection {
	background-color: transparent;
}
.filterChoice:hover {
	background-color: rgb(70, 70, 70);
	cursor: pointer;
}
.filterChoice.selected {
	background-color: rgb(94, 92, 92);
}
.hidden {
	opacity: 0;
}
.bottomDetector {
	height: 10rem;
	position: relative;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

/* NSFW Management */

.nsfw-popup {
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 2rem;
	padding: 20%;
	flex-direction: column;
	gap: 20px;
}
.nsfw-popup span {
	max-width: 350px;
	text-align: center;
}
.nsfw-buttons {
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.go-back,
.confirm-age {
	background: var(--postBackground);
	color: rgb(255, 255, 255);
	padding: 1rem 2rem;
	border-radius: 15px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 200ms;
	font-weight: bold;
}
.go-back:hover {
	background-color: rgb(115, 115, 241);
}
.confirm-age {
	background: none;
	color: rgba(0, 0, 0, 0.507);
	border: rgba(0, 0, 0, 0.507) solid 1px;
	transition: background-color 200ms, color 200ms;
}
.confirm-age:hover {
	background-color: red;
	color: white;
}
/* Loader */

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	background: radial-gradient(
		circle,
		#03030300 0%,
		#03030300 39%,
		var(--ldbarBkg) 39%,
		var(--ldbarBkg) 61%,
		#03030300 61%,
		#03030300 100%
	);
	border-radius: 50%;
	z-index: 500;
	pointer-events: none;
}
.lds-ring.small div {
	width: 32px;
	height: 32px;
	margin: 0;
}
.lds-ring.small {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 49px;
	height: 49px;
}
.videoContainer .lds-ring {
	background: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.videoContainer .lds-ring div {
	border-color: rgb(2, 190, 247) transparent transparent transparent;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--ldbar) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Posts */
.posts {
	width: fit-content;
	margin: 0 auto;
	background-color: var(--background);
}

.post:last-child {
	border-radius: 0 0 10px 10px;
}

/* Next Page

.nextPosts {
	position: fixed;
	color: white;
	top: 5rem;
	right: 2rem;
	border: lightgrey solid 2px;
	padding: 1rem 2rem;
	background-color: var(--background);
	z-index: 300;
	cursor: pointer;
	transition: background-color 200ms;
	caret-color: transparent;
}
.nextPosts:hover {
	background-color: grey;
} */

/* Stickies */
.post.sticky:first-child {
	padding-top: 0.3rem;
	margin: 0 auto;
	border-radius: 5px 5px 0px 0px;
	transition: border 200ms;
}
.post.sticky.duo {
	transition: border 200ms;
}
.post.sticky.only {
	margin-top: 0;
	margin: 0.5rem auto;
	border-radius: 5px;
	transition: border 200ms;
}
.post.sticky:first-child:hover {
	border: var(--postHoverBorder);
	z-index: 5;
}
.post.sticky.duo + .post.sticky.duo {
	margin: 0 auto;
	margin-bottom: 0.5rem;
	border-radius: 0px 0px 5px 5px;
	position: relative;
	bottom: 1px;
	border-top: none;
	border: rgb(81, 81, 81) 1px solid;
	transition: border 200ms;
}
.post.sticky.duo + .post.sticky.duo:hover {
	border: var(--postHoverBorder);
	z-index: 6;
	transition: border 200ms;
}
.post.sticky.duo + .post.sticky.duo .pinned {
	display: none;
}

.pinned {
	letter-spacing: -0.4px;
	font-size: 0.68rem;
	position: relative;
	top: 0;
	left: 0;
	padding-left: 1rem;
	background-image: url("../../assets/greenpin.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	align-self: flex-start;
}

/* Post styling */

.post {
	display: flex;
	cursor: pointer;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0 auto;
	width: 80vw;
	max-width: 800px;
	color: white;
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: rgb(81, 81, 81) 1px solid;
	background-color: var(--postBackground);
	font-size: 0.75rem;
	padding-left: 2.5rem;
	border-radius: 5px;
	margin: 0.4rem auto;
	caret-color: transparent;
	transition: border 200ms;
}

.post:not(.sticky, .exclusive):hover {
	border: var(--postHoverBorder);
}

.post .content {
	width: 100%;
	margin: 0.2rem;
}

.title {
	font-weight: 600;
	font-size: 1rem;
	line-height: normal;
}

.author,
.comments,
.share {
	width: fit-content;
	font-size: 0.7rem;
	font-weight: 500;
	color: #818384;
}
.awards {
	display: flex;
	gap: 3px;
}
.award {
	width: 15px;
}
.prompt {
	font-family: sans-serif;
	position: absolute;
	transform: translateX(100%);
	color: white;
	z-index: 300;
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: rgb(81, 81, 81) 1px solid;
	background-color: var(--postBackground);
	display: block;
	transition: opacity 500ms;
	pointer-events: none;
	opacity: 0;
	transition: opacity 200ms;
}

.author {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
.content.buttons {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	gap: 10px;
}
.content.comments,
.content.share {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 2.3rem;
	padding: 0.5rem;
	width: 140px;
	align-self: flex-start;
	gap: 4px;
	font-size: 0.8rem;
	transition: background-color 100ms;
}
.content.share {
	width: fit-content;
	padding: 0.5rem 0.8rem;
}

.comments:hover,
.share:hover {
	background-color: var(--postButtonsHover);
}
.comments img,
.share img {
	max-height: 100%;
}
.flair {
	background-color: rgb(10, 140, 21);
	display: inline-flex;
	align-items: center;
	width: max-content;
	padding: 0.1rem 0.5rem;
	border-radius: 15px;
	color: white;
	align-self: flex-start;
	margin: 0.25rem;
}
.content.score {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 10px;
	position: absolute;
	left: 0.8rem;
	transform: translateX(-7px);
	top: 2rem;
}
.innerScore {
	content: "";
	height: 4rem;
	width: 1.2rem;
	position: absolute;
	left: 10%;
	z-index: 100;
	/* background-image: url("../../assets/score_arrow.png"); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.content.body ul {
	list-style: none;
}

/* Media */
.content.media {
	margin: 0.2rem auto;
}
.content.media img,
.content.media video {
	max-width: 100%;
	max-height: 512px;
	display: block;
	margin: 0 auto;
}
.content.media a {
	color: #4db7f9;
	transition: color 200ms;
	text-decoration: none;
}
.content.media a:hover {
	text-decoration: underline;
}

/* Overflowing images */
.imgPreview {
	content: "";
	width: 99.9%;
	left: 0;
	height: 80px;
	z-index: 100;
	position: absolute;
	transform: translateY(-100%);
	background: linear-gradient(to top, var(--postBackground), #1a1a1b00);
}
.content.media img.oversized {
	object-fit: cover;
	object-position: 0% 0%;
	background-color: green;
	width: 100%;
}
.txtImgPreview {
	position: absolute;
	font-family: "Roboto", sans-serif;
	width: 50%;
	color: rgb(255, 255, 255);
	text-align: center;
	transform: translateY(-130%) translateX(-50%);
	left: 50%;
	z-index: 101;
	padding: 0.8rem 1rem;
	border-radius: 15px;
	border: 1px rgb(71, 69, 69) solid;
	background-color: rgba(90, 84, 84, 0.651);
	transition: background-color 200ms;
}
.txtImgPreview:hover {
	background-color: rgba(90, 84, 84, 0.8);
}

.textThumbnail {
	height: 140px;
	width: 140px;
}

.textMedia {
	position: relative;
	line-height: 21px;
	font-size: 0.9rem;
	word-break: break-word;
	max-height: 17rem;
	overflow: hidden;
	caret-color: transparent;
	user-select: none;
}
.overflow:after {
	content: "";
	width: 100%;
	height: 80px;
	z-index: 100;
	position: absolute;
	bottom: 0;
	background: linear-gradient(to top, var(--postBackground), #1a1a1b00);
}
.textMedia p + p {
	margin: 1rem 0;
}
.content.media .linkContainer {
	display: flex;
	align-items: flex-end;
}
.content.media img.linkImg {
	width: 10px;
	display: inline-block;
	margin: 0 0.2rem;
}
.content.media a::selection {
	background: none;
}
.content.media a::-moz-selection {
	background: none;
}

[twdiv="yes"] {
	max-height: 512px;
	overflow: hidden;
}

/* Media - Video */

.content.media video {
	width: 100%;
}
.videoContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

/* Video - Fullscreen */
.videoContainer:fullscreen video {
	max-height: 100%;
	overflow: hidden;
}

.videoContainer:fullscreen .controls {
	bottom: 2rem;
	width: 60%;
	justify-content: center;
}
.videoContainer:fullscreen .controls .seek {
	width: 90%;
}

/* Video - Controls */

.invisibleListener {
	width: 100%;
	height: 89%;
	position: absolute;
	z-index: 2;
}
.invisibleListener.mobile {
	/* display: none; */
}

.controls {
	opacity: 0%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 2rem;
	border-radius: 10px;
	bottom: 5px;
	background-color: rgba(53, 55, 53, 0.648);
	position: absolute;
	display: flex;
	z-index: 2;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
	transition: opacity 200ms;
}
.controls .duration-left {
	margin-right: 5px;
}
.controls .duration-right {
	margin-left: 5px;
}
.play,
.pause {
	width: 0px;
	height: 0px;
	background-image: url("../../assets/play.png");
	background-size: 50%;
	background-position: center;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px 10px;
	background-repeat: no-repeat;
	transition: filter 100ms;
	margin-right: 0.5rem;
}
.pause {
	background-image: url("../../assets/pause.png");
}
.play.mobile,
.pause.mobile {
	position: relative;
	left: -0.5rem;
	padding: 20px;
}
.play:hover,
.pause:hover,
.mute:hover,
.toggleFullScreen:hover {
	filter: invert(30%);
	cursor: pointer;
}

.seek {
	width: 80%;
}
.seek:hover {
	cursor: pointer;
}
.seek.mobile {
}
.restartContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 900;
}
.restart {
	height: 10px;
	width: 10px;
	padding: 2rem 2rem;
	background-image: url("../../assets/restart.png");
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	animation-duration: 1000ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.restart:hover {
	animation-name: restart;
}
@keyframes restart {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
.mute,
.toggleFullScreen {
	padding: 10px 10px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: opacity 500ms;
	margin: 0 0.5rem 0 1rem;
	z-index: 402;
}
.mute.mobile {
	position: relative;
	left: -0.7rem;
}
.toggleFullScreen {
	position: absolute;
	right: 0.5rem;
	background-image: url("../../assets/fullscreen.png");
}
.toggleFullScreen.mobile {
	right: 0;
}
.volWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100px;
	width: 40px;
	transform: translate(-100%, -40%);
	z-index: 400;
}
.volWrapper.mobile {
	display: none;
}
.volWrapper.mobile::before {
	content: "VOL";
}

.vol {
	position: relative;
	opacity: 0;
	transition: opacity 200ms;
	height: 70px;
	width: 5px;
	-webkit-appearance: slider-vertical;
	z-index: 401;
}
.vol.mobile {
	-webkit-appearance: slider-horizontal;
	height: 5px;
	width: 100px;
}
.vol:hover {
	cursor: pointer;
}

/* Emojis */
.emoji {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 95%;
}
.emojiContainer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 0 0.3rem;
}

@media only screen and (max-width: 700px) {
	.post {
		width: 100%;
		max-width: 100vw;
	}
}
